@{
    ViewBag.Title = "Contact";
}



<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h1>Contacts</h1>
            <ul class="breadcrumb">
                <li><a href="index.html">Home</a><span class="divider">/</span></li>
                <li class="active">Contact</li>
            </ul>
        </div>
        <!-- =========================Start Col left section ============================= -->
        <aside class="col-md-4 col-sm-4">
            <div class="col-left">
                <h3>Address</h3>
                <ul>
                    <li><i class="icon-home"></i> 11 Fifth Ave, Loftus - NEW JERSEY, US</li>
                    <li><i class="icon-phone"></i> Telephone: + 61 (2) 8093 3400</li>
                    <li><i class="icon-phone-sign"></i> Fax: +61 (2) 9542 3599</li>
                    <li><i class="icon-envelope"></i> Email: <a href="#">submissions@domain.com</a></li>
                </ul>
                <hr>
                <iframe height="250" src="https://maps.google.it/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=new+york&amp;sll=40.714353,-74.005973&amp;sspn=0.868126,2.422485&amp;ie=UTF8&amp;hq=&amp;hnear=New+York,+Stati+Uniti&amp;t=m&amp;z=10&amp;iwloc=A&amp;ll=40.714353,-74.005973&amp;output=embed" style="border:0;"></iframe>
                <br />
                <small><a href="https://maps.google.it/maps?f=q&amp;source=embed&amp;hl=it&amp;geocode=&amp;q=new+york&amp;sll=40.714353,-74.005973&amp;sspn=0.868126,2.422485&amp;ie=UTF8&amp;hq=&amp;hnear=New+York,+Stati+Uniti&amp;t=m&amp;z=10&amp;iwloc=A&amp;ll=40.714353,-74.005973" style="text-align:left">View bigger</a></small>
                <hr>
                <p>Get directions writing your start point.</p>
                <form action="http://maps.google.com/maps" method="get" target="_blank">
                    <input type="text" name="saddr" placeholder="Enter your location" class="form-control" />
                    <input type="hidden" name="daddr" value="New York, NY 11430" /> <!-- Write here your end point -->
                    <input type="submit" value="Get directions" class=" button_medium" />
                </form>
            </div>
            <p>
                <a href="all-courses.html" title="All courses"><img src="/img/banner.jpg" alt="Banner" class="img-rounded img-responsive"></a>
            </p>
        </aside>

        <!-- =========================Start Col right section ============================= -->
        <section class="col-md-8 col-sm-8">
            <div class="col-right">
                <p class="lead">
                    An utinam reprimique duo, <strong>putant mandamus cu qui</strong>. Priaeque iuvaret nominati et, ad mea clita numquam. Maluisset dissentiunt et per, dico liber erroribus vis te. Dolor consul graecis nec ut, scripta eruditi scriptorem et nam.
                </p>
                <hr>
                <h4>General Enquire or Apply</h4>

                <div id="message-contact"></div>
                <form method="post" action="@Url.Action("Contact")" id="contactform"> <!--onsubmit="return validateForm(this)"--> 
                    @if (ViewBag.Message != null)
                    {
                        <div class="row">
                            <div class="col-md-12">
                                <div class="alert @(ViewBag.IsError == null || ViewBag.IsError == false?"alert-success":"alert-danger")">@ViewBag.Message</div>
                            </div>
                        </div>

                    }
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name <span class="required">* </span></label>
                            <input type="text" class="form-control ie7-margin" id="name_contact" name="name"> <!--required maxlength="50"-->
                            <!-- Hata mesajını yanında gösternmek için-->
                            <span id="firstNameMessage" class="validationMessage text-danger" style="display:none"></span>
                        </div>
                        <div class="col-md-6">
                            <label>Last name <span class="required">* </span></label>
                            <input type="text" class="form-control ie7-margin" id="lastname_contact" name="lastName">
                            <span id="lastNameMessage" class="validationMessage text-danger" style="display:none"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email <span class="required">* </span></label>
                            <input type="email" id="email_contact" class="form-control ie7-margin" name="email">
                            <span id="emailMessage" class="validationMessage text-danger" style="display:none"></span>
                        </div>
                        <div class="col-md-6">
                            <label>Phone <span class="required">* </span></label>
                            <input type="tel" id="phone_contact" class="form-control ie7-margin" name="phone"> <!--pattern="^5(0[5-7]|[3-5]\d) ?\d{3} ?\d{4}$" title="500 000 0000 biçiminde giriniz.-->
                            <span id="phoneMessage" class="validationMessage text-danger" style="display:none"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Select a department</label>
                            <select id="subject_contact" class="form-control" name="subject">
                                <option value="Administration">Administration</option>
                                <option value="Admissions">Admissions</option>
                                <option value="Courses">Courses</option>
                                <option value="Apply">Apply</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Message <span class="required">*</span></label>
                            <textarea rows="5" id="message_contact" class="form-control" name="message"></textarea>
                        </div>
                    </div>
                    <div class="row">

                        <div class="button-align col-md-12">
                            <input type="submit" value="Submit" class=" button_medium">
                        </div>
                    </div>
                    <hr>
                </form>

                <h4>Plan a visit</h4>
                <div id="message-visit"></div>
                <form method="post" action="assets/visit.php" id="visit">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name <span class="required">* </span></label>
                            <input type="text" class="form-control ie7-margin" id="name_visit">
                        </div>
                        <div class="col-md-6">
                            <label>Last name <span class="required">* </span></label>
                            <input type="text" class="form-control ie7-margin" id="lastname_visit">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label>Email <span class="required">* </span></label>
                            <input type="email" id="email_visit" class="form-control ie7-margin">
                        </div>
                        <div class="col-md-6">
                            <label>Phone <span class="required">* </span></label>
                            <input type="text" id="phone_visit" class="form-control ie7-margin">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="datetimepicker" class="input-append" style="position:relative;">
                                <label>Select a date <span class="required">* </span></label>
                                <input type="text" class=" dateinput form-control" id="date_visit">
                                <span class="add-on" style="position:absolute; top:34px; right:5px; cursor:pointer"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label><span class="required">*</span> Are you human? 3 + 1 =</label>
                            <input type="text" id="verify_visit" class="form-control">
                        </div>
                    </div>
                    <!-- end row-->
                    <input type="submit" id="submit-visit" value="Submit" class=" button_medium">
                </form>

            </div><!-- end col right-->
        </section>
    </div><!-- end row-->
</div><!-- end container-->

@section scripts {
    <script>
    //required, maxlength, pattern kotrolllerni yazınız
        //$(document).ready(function () {
        //    $("#contactform input").change(function () {
        //        $(this).next("span").hide();
        //    });
        //});
        // tüm spanları kaydetmek için class yap
        $(document).ready(function () {
            $("#contactform input, #contactform textarea").keyup(function () {
                $(this).next(".validationMessage").hide();
            });
            $("#contactform select").change(function () {
                $(this).next(".validationMessage").hide();
            });
        });
        function validateForm(elm) {
            var isValid = true;
            if ($(elm).find("#name_contact").val() == "") {
                $("#firstNameMessage").html("LÜtfen Adınızı giriniz...");
                $("#firstNameMessage").show();
                $(elm).find("#name_contact").focus();
                isValid = false;
            }

            if ($(elm).find("#name_contact").val().length > 6) {
                $("#firstNameMessage").html("Ad Alanı 6 Karakterden Büyük Olamaz!...");  
                $("#firstNameMessage").show();
                $(elm).find("#name_contact").focus();
              
                isValid = false;
            }

            if ($(elm).find("#lastname_contact").val() == "") {
                $("#lastNameMessage").html("Lütfen Soyadınızı giriniz...");
                $("#lastNameMessage").show();
                $(elm).find("#lastname_contact").focus();
                isValid = false;
            }

            if ($(elm).find("#email_contact").val() == "") {
                $("#emailMessage").html("Lütfen Email giriniz...");
                $("#emailMessage").show();
                $(elm).find("#email_contact").focus();
                isValid = false;
            }

            if ($(elm).find("#phone_contact").val() == "") {
                $("#phoneMessage").html("Telefonu 5XX XXX XXXX biçiminde giriniz...");
                $("#phoneMessage").show();
                $(elm).find("#phone_contact").focus();
                isValid = false;
            }

            var pattern = /^5(0[5-7]|[3-5]\d) ?\d{3} ?\d{4}$/g
            if (pattern.test($(elm).find("#phone_contact").val()) == false) {
                $("#phoneMessage").html(" Telefonu 5XX XXX XXXX biçiminde giriniz...");
                $("#phoneMessage").show();
                $(elm).find("#phone_contact").focus();
                isValid = false;
            }

            return isValid;
        }
    </script>
}